{% block form_row %}
    {% spaceless %}
        <div class="form_row">
            <p>custom form row</p>
            {{ form_label(form) }}
            {{ form_errors(form) }}
            {{ form_widget(form) }}
        </div>
    {% endspaceless %}
{% endblock form_row %}

{% block _task_name_widget %}
    <div class="text_widget">
        <p>custom task name widget</p>
        {{ block('form_widget_simple') }}
    </div>
{% endblock %}