imports:
    - { resource: parameters.yml }
    - { resource: security.yml }
    - { resource: services.yml }

# Put parameters here that don't need to change on each machine where the app is deployed
# http://symfony.com/doc/current/best_practices/configuration.html#application-related-configuration
parameters:
    locale: en
    kernel.var_dir: "/home/ubuntu/sf3-sandbox/var"

framework:
    #esi:             ~
    #translator:      { fallbacks: ["%locale%"] }
    secret:          "%secret%"
    router:
        resource: "%kernel.root_dir%/config/routing.yml"
        strict_requirements: ~
    form:            ~
    csrf_protection: ~
    validation:      { enable_annotations: true }
    templating:
        engines: ['twig']
    default_locale:  "%locale%"
    trusted_hosts:   ~
    trusted_proxies: ~
    session:
        # http://symfony.com/doc/current/reference/configuration/framework.html#handler-id
        handler_id:  session.handler.native_file
        save_path:   "%kernel.var_dir%/sessions/%kernel.environment%"
    fragments:       ~
    http_method_override: true
    assets: ~
    php_errors:
        log: true

# Twig Configuration
twig:
    debug:            "%kernel.debug%"
    strict_variables: "%kernel.debug%"
    form_themes:
        - "bootstrap_3_layout.html.twig"
#        - "form/custom.html.twig"

# Doctrine Configuration
doctrine:
    dbal:
        driver:   pdo_sqlite
        path:     "%kernel.var_dir%/data.sqlite"
        dbname:   sf3_sandbox
        charset:  UTF8
        types:
            file_path:  AppBundle\Doctrine\Type\FilePath
    orm:
        auto_generate_proxy_classes: "%kernel.debug%"
        naming_strategy: doctrine.orm.naming_strategy.underscore
        auto_mapping: false
        mappings:
            app_entites:
                type: yml
                prefix: AppBundle\Entity
                dir: "%kernel.root_dir%/config/doctrine/Entity"
                is_bundle: false

# Swiftmailer Configuration
swiftmailer:
    transport: "%mailer_transport%"
    host:      "%mailer_host%"
    username:  "%mailer_user%"
    password:  "%mailer_password%"
    spool:     { type: memory }

fos_user:
    db_driver: orm
    firewall_name: main
    user_class: AppBundle\Entity\User
    from_email:
        address: "%mailer_user%"
        sender_name: "%mailer_user%"

assetic:
    debug:          "%kernel.debug%"
    use_controller: "%kernel.debug%"
    bundles:        [ 'AppBundle' ]
    filters:
        cssrewrite: ~
    assets:
        bootstrap_js:
            inputs:
                - "%kernel.root_dir%/../vendor/twitter/bootstrap/dist/js/bootstrap.js"
        bootstrap_css:
            inputs:
                - "%kernel.root_dir%/../vendor/twitter/bootstrap/dist/css/bootstrap.css"
                - "%kernel.root_dir%/../vendor/twitter/bootstrap/dist/css/bootstrap-theme.css"
            filters: [cssrewrite]
        jquery:
            inputs:
                - "%kernel.root_dir%/../vendor/components/jquery/jquery.js"

fos_rest:
    view:
        view_response_listener: true
        formats:
            json: true
    service:
        serializer: fos_rest.serializer.jms
    format_listener:
        enabled: true
        rules:
            - { path: '^/api', priorities: ['json'], fallback_format: ~ }
            - { path: '^/', stop: true }

jms_serializer:
    metadata:
        auto_detection: false
        directories:
            app_entities:
                namespace_prefix: AppBundle\Entity
                path: "%kernel.root_dir%/config/serializer/Entity"
            fos_user:
                namespace_prefix: FOS\UserBundle\Model
                path: "%kernel.root_dir%/config/serializer/FOSUser"
            php_core:
                namespace_prefix: ""
                path: "%kernel.root_dir%/config/serializer/PHPCore"