{% extends 'base.html.twig' %}

{% block title %}Tasks{% endblock %}

{% block body %}
    <div id="welcome">
        <h1>Tasks</h1>
    </div>
    <div>
        <a href="{{ path('task_new') }}" class="btn btn-primary" role="button">Add new</a>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Due date</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for task in tasks %}
                <tr>{% include 'task/task_row.html.twig' %}</tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
