{% extends 'base.html.twig' %}

{% block title %}New Task{% endblock %}

{% block body %}
<div id="welcome">
    <h1>New Task</h1>
</div>
<div>
    {{ form_start(form, {'action': path('task_new'), 'method': 'POST'}) }}
    {{ form_widget(form) }}

    <input type="submit" class="btn btn-primary" value="Add new task" />
    <a href="{{ path('tasks_list') }}" class="btn btn-default" role="button">Back to list</a>
    {{ form_end(form) }}
</div>
{% endblock %}
